* { 
    padding: 0; 
    margin: 0;
    color: black;
    font-family: sans-serif;
}

body { 
    height: 100vh;
    background: linear-gradient(#ff006f79,#f5580f7e);
    display: flex; 
    justify-content: center;
    align-items: center;

}

#main { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 400px;
    padding: 32px;
    min-width: 300px;
    border: #ffbe0b solid 4px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.411) 8px 16px 32px;
    background-color: whitesmoke;
    gap: 32px;
}

.control-container { 
    width: 85%;
    background: #b8b6b65c;
    height: 55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.289) 6px 6px 16px;
    color: white;
    border: 2px solid white;
}

input[type='checkbox'] { 
    appearance: none;
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    background-color: azure;
    transition: ease .1s;
    border-radius: 50px;

}

input[type='checkbox']:checked{ 
    transition: ease .1s;
    transform: translateX(16px);
}

.toggle-container { 
    display:flex;
    justify-content: start;
    align-items: center;
    margin-right: 12px;
    background-color: rgb(137, 137, 137);
    height: 18px;
    width: 32px;
    border-radius: 10px;
    padding: 2px;

}

.on { 
    background-color: #ffbe0b;
}

#character-count { 
    border: none; 
    outline: none; 
    height: 32px;
    width: 48px;
    text-align: center;
    border-radius: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#btn-generate { 
    transition: .2s ease;
    width: 85%; 
    height: 65%;
    border: 2px solid white; 
    outline: none;
    background: linear-gradient(#ffbe0b, #e07a5f);
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(255, 255, 255);
     width: 100%; 
    height: 100%;
}

#btn-generate:hover { 
    transition: .2s ease;
    box-shadow: rgba(0, 0, 0, 0.289) 6px 6px 16px;
    background: linear-gradient(270deg, #ffbe0b, #e07a5f);

}

#btn-generate:active { 
    transition: .2 ease;
    box-shadow: inset 6px 6px 16px rgba(0, 0, 0, 0.289);
}

.btn-container { 
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 93%;
    height: 64px;
    border-radius: 12px;
}

.trace { 
    border: 2px dashed blue;
}

.password-container { 
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 32px;
    border-radius: 6px;
    border: 2px solid lightgray; 
    box-shadow: inset 2px 2px 8px rgba(0, 0, 0, 0.289);
    background-color: white;
    padding: 6px;
    
}

#password-text { 
    width: 100%; 
    height: 100%;
    background: none;
    outline: none; 
    border: none;
}

#copy { 
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background: linear-gradient(#ffbe0b, #e07a5f);
    border: none;
    border-radius: 5px;

}

#copy:hover { 
    transition: .2s ease;
    background: linear-gradient(270deg, #ffbe0b, #e07a5f);
}

#copy:active { 
    transition: .2 ease;
    box-shadow: inset 6px 6px 16px rgba(0, 0, 0, 0.289);
}

img { 
    height: 16px; 
    width: 16px;
}