* { 
    padding: 0; 
    margin: 0;
    color: white;
    font-family: sans-serif;
}

body { 
    height: 100vh;
    background: black;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#main { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 400px;
    padding: 32px;
    min-width: 300px;
    border: rgb(219, 219, 219) solid 1px;
    border-radius: 8px;
    box-shadow: white 0px 0px 8px;
    background-color: #202020;
    gap: 32px;
}

.control-container { 
    width: 85%;
    background: #646363;
    height: 55px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px; 
    padding-right: 12px; 
    border-radius: 12px;
    box-shadow: black 6px 6px 25px;
}

input[type='checkbox'] { 
    appearance: none;
    -webkit-appearance: none;
    margin-left: 16px;
    height: 16px;
    width: 16px;
    background-color: azure;
    transition: ease .1s;

}

input[type='checkbox']:checked{ 
    background-color: green;
    transition: ease .1s;
    transform: translateX(16px);
}